<ion-header>
  <ion-toolbar>
    <ion-title>Date Formatter</ion-title>
    <ion-button slot="end" (click)="imageCropper()">
      Image Cropper
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      {{clear()}}
      <ion-header>Enter Date:</ion-header>
      <ion-input
        type="tel"
        [(ngModel)]="unformattedDate"
        placeholder="DDMMYYYY"
        maxlength="8"
      ></ion-input>
    </ion-card-content>
  </ion-card>
</ion-content>
